/* 多个页面所通用的组件必须的样式 */
/* 1.顶部的灰色条 */
.topbar{
	background: #f9f9f9;
	border-bottom: 1px solid #EEE;
	line-height: 36px;
}
.download-app{
	color: #f60;
}
.topbar-item{
	padding: 0   0.5em;
}
.topbar-item:last {
	padding-right: 0;
}
/* 2.搜索条 */
.searchbar > .container{
	/* 为子元素的绝对定位提供定位标准 */
	position: relative;
}
.logo{
	margin: 1.5em  0;
}
.search{
	/* 保证元素在父容器中竖直居中的方法1：调整上间距 */
	/* margin-top: 25px; */
/* 保证元素在父容器中竖直剧中的方法2：先向下移到父容器中线以下，再向上微调自身高度的一半 */
  position: absolute;      /* 相对定位的元素就和没定位一样 */
  top:50%;                /* 距离已定位的父元素顶部为父容器的50% */
  margin-top: -16px;   /* 微调自身高度的一半 */
  right: 200px;
}
.search-input{
	width: 400px;
	height: 32px;
	line-height: 40px;
	padding: 0 0.6em;
	font-size: 1.15em;
	border: 1px solid #CCC;
	margin-right: 50px;    /* 让出右侧的搜索按钮的位置 */
}
.search-button{
	width: 50px;
	height: 32px;
	background: #00BE56;
	color: #FFF;
	line-height: 32px;
	border: none;
	font-size: 1.7em;
	position: absolute;
	right: 0;
	top: 0;
	
}
.my-cart{
	position: absolute;
	right: 0;
	top: 50%;
	height: 32px;
	margin-top: -16px;
	border: 1px solid #ddd;
	background: #F9F9F9;
	line-height: 32px;
	padding: 0 0.5em;
}
.my-cart > .fa{
	color: #00BE56;
	padding: 0 0.5em;
}

/* 3.导航条 */
.navbar{
	background: #00BE56;
	border-bottom: 3px solid #b3efc0;
	height: 52px;
	font-size: 1.15em;
}

.menu li{
	float: left;
	line-height: 52px;
	padding: 0 1.5em;
}
.menu li:hover{
	background: #00b149;
}
.menu > li.active{
	background: #00a43d;
}
.menu > li > a{
	color: #FFFFFF;
}
.user-center{
	background: #55C760;
	line-height: 49px;
}
.user-center a,
.user-center span{
	color: #FFFFFF;
}
.user-center a:hover{
	color: #FFFF9B;
}
/* 4.轮播广告 */
.carouselbar{
	border-bottom: 4px solid #ddd;
}
.carousel{
	position: relative;    /* 为绝对定位的子元素提供参照物*/
}
.carousel .items a{
	display: block;    /* 改为块级元素,可以修改宽和高 */
	width: 100%;
	height: 380px;
	background-position: center;
	background-repeat: no-repeat;
	
}
.carousel .items li:not(.active){/*不带.active的li隐藏*/
	display: none;
}
.carousel .indicators{
	position: absolute;
	bottom: 20px;
	left: 50%;     /* 固定定位的元素水平居中 */
	margin-left: -72px;
}
.carousel .indicators li{
	height: 18px;
	width: 18px;
	background: #ccc;
	border-radius: 50%;   /* 边框圆角半径为尺寸的一半 */
	float:left;
	margin: 0 9px;
	cursor: pointer;     /* 光标悬停时变为小手 */
}
.carousel .indicators li.active{
	background: #ff9300;
}
/* 6.底部条 */
.bottombar{
	background: #eee;
}
.bottombar > .container > .row:first-child{
	border-bottom: 1px solid #ddd;
}
