.bread {
    line-height: 32px;
    color: #999;
    font-size: 14px;
    margin-bottom: 25px;
}
.bread a {
    color: #999;
}
.bread a:hover{
	color: #999;
}

.main .container .row{
    border-bottom: 1px dotted #CCCCCC;
	
}
.main .container .row:last-child{
	border-bottom: none;
}
.map{
	font-size: 90px;
	color: #00BE56;
	
}
.address {
    float: left;
    width: 580px;
	transform: translateX(50px);
}
.address > h3 {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.address >p {
    font-size: 14px;
    color: #999;
}

@media screen and (max-width:767px){
	 /*让body在底部留白,高度为.tabbar的高度*/
	 .tabbar{
	 	position: fixed;
	 	left: 0;
	 	right: 0;
	 	bottom: 0;
	 	height: 64px;
	 	background: #F8F6FA;
	 	border-top: 1px solid #d2cfcc;
	 }
	 
	body{
		margin-bottom: 64px;
	}
	.tab{
		color: #ccc;
		text-align: center;
		padding: 7px 0 0;
	}
	.tab.school{
		color: #00be56;
	}
	.tab .fa{
		font-size: 2em;
	}
	.map{
		font-size: 60px;
		color: #00BE56;
		
	}
	.address {
	    float: left;
	    width: 580px;
		transform: translateX(10px);
	}
}


